{% extends "base.html" %}

{% block title %}Контакты{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
{% endblock %}

{% block content %}
    <h1 class="h1 text-center">Контакты</h1>
    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    <div id="map"></div>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        function init() {
            var myMap = new ymaps.Map(
                "map",
                {
                    center: [59.913078, 29.770747],
                    zoom: 12
            
                }
            );
            var myPlacemark = new ymaps.Placemark(
                [59.913078, 29.770747],
                {
                    balloonContent: "Клиника"
                }
            );
            myMap.geoObjects.add(myPlacemark);
        }
        ymaps.ready(init);
    </script>
    <br>
    {% for contact in contacts %}
        <div class="card d-flex flex-row">
            <div class="card-body d-flex align-items-center">
                <div>
                    <strong>{{ contact.address }}</strong>
                    {{ contact.opening_hours }}
                    {{ contact.phone_numbers }}
                    {{ contact.email }}
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
