{% extends "base.html" %}

{% block title %}Услуги{% endblock %}

{% block meta %}
    <meta name="description" content="Услуги в стоматологической клинике Денталия в Ломоносове." />
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'main' %}">Главная</a></li>
{% endblock %}

{% block content %}
    <h1 class="h1">Услуги</h1>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'main' %}">Главная</a></li>
        </ol>
    </nav>
    {% for service in services %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'services_group' service.slug %}">{{ service.name }}</a></h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
