{% extends "base.html" %}

{% load static %}
{% load custom_tags %}

{% block title %}Сотрудники{% endblock %}

{% block links %}
    <link href="{% static 'css/staff.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Сотрудники</h1>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'company' %}">О клинике</a></li>
        </ol>
    </nav>
    <div class="row">
        {% for person in staff %}
            <div class="col-md-3">
                <div class="card" id="{{ person.slug }}" style="margin-bottom: 10px;">
                    <div class="image-container">
                        <img src="{{ person.image.url }}" class="card-img" alt="...">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h4>{{ person.fio }}</h4>
                <h5>{{ person.stage }}, {{ person.roles }}</h5>
                {{ person.information|safe }}
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
