{% extends "base.html" %}

{% block title %}{{work.name}}{% endblock %}
{% block meta %}{% endblock %}

{% block content %}
    <style>
        .card {
            transition: background-color 0.3s;
            position: relative;
            overflow: hidden;
        }
    </style>
    <h1 class="h1">{{work.name}}</h1>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'gallery' %}">Наши работы</a></li>
        </ol>
    </nav>
    <div class="row">
        {% for image in images %}
            <div class="col-md-6 mb-4"> 
                <div class="card work-card h-100">
                    <img src="{{ image.image.url }}" class="card-img-top" alt="...">
                </div>
            </div>
        {% endfor %}
    </div>
    <p>{{ work.information|safe }}</p>
{% endblock %}
