{% extends "base.html" %}

{% load static %}

{% block title %}Наши работы{% endblock %}

{% block meta %}
    <meta name="description" content="Работы проведённые в стоматологической клинике Денталия." />
{% endblock %}

{% block links %}
    <link href="{% static 'css/works_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Наши работы</h1>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'main' %}">Главная</a></li>
        </ol>
    </nav>
    <div class="row">
        {% for work in works %}
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card h-100 text-bg-dark">
                    <div class="image-container">
                        <img
                            src="{{ work.image.url }}"
                            class="card-img-top"
                            alt="{{ work.name }}"
                        >
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                        <h5 class="card-title text-center">
                            <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'work' work.slug %}">{{work.name}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
