{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}

{% block content %}
    <div class="">
        <h1 class="h1 text-center">{{group.name}}</h1>
        <p>{{ group.description }}</p>
        <div class="form w-100 m-auto">
            {% for service in services %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'services_group' service.slug %}">{{ service.name }}</a>
                        </h5>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}
