{% extends "base.html" %}

{% block title %}Услуги{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="#">Главная</a></li>
{% endblock %}

{% block content %}
    <h1 class="h1 text-center">Услуги</h1>
    {% for service in services %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'services_group' service.slug %}">{{ service.name }}</a></h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
