{% extends "base.html" %}

{% block title %}Наши работы{% endblock %}

{% block content %}
    <h1>Наши работы</h1>
    <div class="row">
        {% for work in works %}
            <div class="col-md-4 mb-4"> 
                <div class="card h-100">
                    <div class="image-container" style="height: 245px; overflow: hidden;">
                        <img
                            src="{{ work.image.url }}"
                            class="card-img-top"
                            alt="..."
                            style="object-fit: cover; width: 100%; height: 100%;"
                        >
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a href="{% url 'work' work.slug %}">{{work.name}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
