{% extends "base.html" %}

{% block title %}{{staff.fio}}{% endblock %}

{% block content %}
    <h1 class="h1">{{staff.fio}}</h1>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'main' %}">Главная</a></li>
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'company' %}">О клинике</a></li>
            <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'staff_list' %}">Сотрудники</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="card no-hover" style="margin-bottom: 10px;">
                <ul class="list-group list-group-flush">
                    {% if managers %}<li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff_by_stage' 'rukovoditeli' %}">Руководители</a></li>{% endif %}
                    {% if medics %}<li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff_by_stage' 'mediki' %}">Медики</a></li>{% endif %}
                    {% if administrators %}<li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff_by_stage' 'administratori' %}">Администраторы</a></li>{% endif %}
                    {% if junior_medics %}<li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff_by_stage' 'assistenti' %}">Ассистенты</a></li>{% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <img
                src="{{ staff.image.url }}"
                style="height: 375px; width: 500px; object-fit: cover; margin-right: 15px;" 
                class="img-thumbnail mx-auto d-block"
                alt="..."
            >
            <p>{{staff.roles}}</p>
            <p>{{staff.stage}}</p>
            <p>{{ staff.information|safe }}</p>
        </div>
    </div>
{% endblock %}
