{% extends "base.html" %}

{% block title %}{{staff.fio}}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'main' %}">Главная</a></li>
    <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'company' %}">О клинике</a></li>
    <li class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'staff_list' %}">Сотрудники</a></li>
{% endblock %}

{% block content %}
    <h1 class="h1 text-center">{{staff.fio}}</h1>
    <img
        src="{{ staff.image.url }}"
        style="height: 375px; width: 500px; object-fit: cover; margin-right: 15px;" 
        class="img-thumbnail mx-auto d-block"
        alt="..."
    >
    <p>{{staff.roles}}</p>
    <p>{{staff.stage}}</p>
    <p>{{ staff.information|safe }}</p>
{% endblock %}
