<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Услуги
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Работники
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Цены
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Клиника
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Наши работы
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Отзывы
                    </a>
                </li>
                <li>
                    <a 
                        href="#" 
                        class="nav-link px-2 {% if active_page == 'services' %}link-secondary{% else %}link-body-emphasis{% endif %}"
                    >
                        Контакты
                    </a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Поиск" aria-label="Поиск">
            </form>
        </div>
    </div>
</header>