.accordion {
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .col-md-3, .col-md-9 {
        width: 100%;
        margin-bottom: 15px;
    }

    .accordion-button {
        text-align: left;
    }
}
