.accordion {
    margin-bottom: 20px; /* Отступ между аккордеоном и другим содержимым */
}

@media (max-width: 1000px) {
    .col-md-3, .col-md-9 {
        width: 100%; /* Ширина аккордеона и контента на мобильных устройствах */
        margin-bottom: 15px; /* Отступ снизу для аккуратно стилизованного вида */
    }

    .accordion-button {
        text-align: left; /* Выравниваем текст влево */
    }
}
