.active {
    transform: rotate(180deg);
}

.service-list {
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
}

.list-group {
    padding: 0;
}

.group-name {
    display: inline-block;
    margin-right: 10px;
}

.group-item {
    margin-left: 20px;
}
