{% extends "base.html" %}

{% load static %}
{% load custom_tags %}
{% load django_bootstrap5 %}

{% block title %}Главная{% endblock %}

{% block meta %}
    <meta name="description" content="Стоматологическая клиника Денталия в Ломоносове. Качественные услуги, низкие цены, квалифицированные сотрудники, высокая доступность, качественное оборудование." />
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link href="{% static 'css/main_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 class="h2" style="margin-bottom: 20px;">Наши преимущества</h2>
    <div class="row">
        <div class="col-md-4">
            <a class="breadcrumb-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff' %}">
                <div class="d-flex justify-content-center">
                    <img 
                        src="{% static 'images/caries.png' %}"
                        style="height: 64px; width: 64px; object-fit: cover;"
                        alt="не удалось загрузить"
                    >
                </div>
                <div class="d-flex justify-content-center"><p class="mt-2">Лучшие стоматологи</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'company' %}">
                <div class="d-flex justify-content-center">
                    <img 
                        src="{% static 'images/equep.png' %}"
                        style="height: 64px; width: 64px; object-fit: cover;"
                        alt="не удалось загрузить"
                    >
                </div>
                <div class="d-flex justify-content-center"><p class="mt-2">Передовое оборудование</p></div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'company' %}">
                <div class="d-flex justify-content-center">
                    <img 
                        src="{% static 'images/doctors.png' %}"
                        style="height: 64px; width: 64px; object-fit: cover;"
                        alt="не удалось загрузить"
                    >
                </div>
                <div class="d-flex justify-content-center"><p class="mt-2">Комфорт и забота</p></div>
            </a>
        </div>
    </div>

    <h2 class="h2" style="margin-top: 10px;">Наш коллектив</h2>
    <swiper-container 
        slides-per-view="1"
        space-between="10"
        grid-cols="2"
        loop="true"
        mousewheel-force-to-axis="true"
        breakpoints='{
            "500": {
                "slidesPerView": 2,
                "spaceBetween": 10
            },
            "768": {
                "slidesPerView": 3,
                "spaceBetween": 10
            },
            "992": {
                "slidesPerView": 4,
                "spaceBetween": 10
            }
        }'
    >
        {% for member in staff %}
            <swiper-slide>
                <div class="card">
                    <a href="{% url 'staff' %}#{{ member.slug }}">
                        <div class="staff-image-container">
                            <img src="{{ member.image.url }}" class="card-img" alt="не удалось загрузить">
                        </div>
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                            <p class="card-text text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);"><small>{{ member.roles }}</small></p>
                            <h5 class="card-title text-white link-offset-2 link-underline link-underline-opacity-0" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">{{ member.fio }}</h5>
                        </div>
                    </a>
                </div>
            </swiper-slide>
        {% endfor %}
    </swiper-container>

    {% if works %}
        <h2 class="h2" style="margin-top: 10px;">Наши работы</h2>
        <swiper-container 
            slides-per-view="1"
            space-between="10"
            grid-cols="2"
            loop="true"
            mousewheel-force-to-axis="true"
            breakpoints='{
                "768": {
                    "slidesPerView": 2,
                    "spaceBetween": 10
                },
                "992": {
                    "slidesPerView": 3,
                    "spaceBetween": 10
                }
            }'
        >
            {% for work in works %}
                <swiper-slide>
                    <div class="work-card">
                        <a href="{% url 'work' work.slug %}">
                            <div class="card text-bg-dark">
                                <div class="work-image-container">
                                    <img src="{{ work.image.url }}" class="card-img" alt="не удалось загрузить">
                                </div>
                                <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                                    <p class="card-text" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">{{ work.photo_count }} фото</p>
                                    <h5 class="card-title">
                                        <p class="text-white link-offset-2 link-underline link-underline-opacity-0" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">{{ work.name }}</p>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </swiper-slide>
            {% endfor %}
        </swiper-container>
        <br>
    {% endif %}

    {% if service_groups %}
        <h2 class="h2" style="margin-top: 10px;">Услуги</h2>
        {% for service in service_groups %}
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'services_group' service.slug %}">{{ service.name }}</a></h5>
                    <p class="card-text">{{ service.short_description }}</p>
                </div>
            </div>
        {% endfor %}
        <br>
    {% endif %}

    {% if reviews %}
        <h2 class="h2" style="margin-top: 10px;">Отзывы</h2>
        <swiper-container 
            slides-per-view="1"
            space-between="10"
            grid-cols="2"
            mousewheel-force-to-axis="true"
            breakpoints='{
                "700": {
                    "slidesPerView": 2,
                    "spaceBetween": 10
                }
            }'
        >
            {% for review in reviews %}
                <swiper-slide>
                    <div class="card" style="margin-bottom: 15px;">
                        <div class="card-body">
                            <div class="review-header">
                                <div class="review-details">
                                    <p class="card-text" style="margin-bottom: 0px;">
                                        <small class="text-body-secondary">{{ review.created_at|date:"d F Y" }}</small>
                                    </p>
                                    <p class="card-text">{{ review.name }}</p>
                                </div>
                                <div class="star-rating">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= review.rating %}
                                            <span class="star gold">★</span>
                                        {% else %}
                                            <span class="star">☆</span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <p class="card-text">{{ review.message }}</p>
                        </div>
                    </div>
                </swiper-slide>
            {% endfor %}
        </swiper-container>
        <br>
    {% endif %}

    {% if licenses %}
        <h2 class="h2" style="margin-top: 10px;">Лицензии и сертификаты</h2>
        <swiper-container 
            slides-per-view="1"
            space-between="10"
            grid-cols="2"
            mousewheel-force-to-axis="true"
            breakpoints='{
                "800": {
                    "slidesPerView": 2,
                    "spaceBetween": 10
                },
                "1200": {
                    "slidesPerView": 3,
                    "spaceBetween": 10
                }
            }'
        >
            {% for license in licenses %}
                <swiper-slide>
                    <div class="card d-flex flex-row">
                        <div class="card-body d-flex align-items-center">
                            {% if license.image %}
                                <a href="{{ license.image.url }}" data-fancybox="license" data-caption="{{ license.name }}">
                                    <img src="{{ license.image.url }}" class="img-thumbnail" style="height: 138px; width: 104px; object-fit: cover; margin-right: 15px;" alt="не удалось загрузить">
                                </a>
                            {% endif %}
                            <div>
                                <p class="card-title">{{ license.name }}</p>
                                {% if license.pdf %}
                                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="{{ license.pdf.url }}">
                                        <img src="{% static 'images/pdf.png' %}" style="height: 41px; width: 37px; object-fit: cover; margin-right: 15px;" alt="не удалось загрузить">
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </swiper-slide>
            {% endfor %}
        </swiper-container>
        <br>
    {% endif %}

    <div style="position:relative;overflow:hidden;width:100%;">
        <a 
            href="https://yandex.ru/maps/org/dentaliya/1245233699/?utm_medium=mapframe&utm_source=maps" 
            style="color:#eee;font-size:12px;position:absolute;top:0px;">
            Денталия
        </a>
        <a 
            href="https://yandex.ru/maps/10875/lomonosov/category/dental_clinic/184106132/?utm_medium=mapframe&utm_source=maps" 
            style="color:#eee;font-size:12px;position:absolute;top:14px;"
        >
            Стоматологическая клиника в Ломоносове
        </a>
        <iframe
            src="https://yandex.ru/map-widget/v1/?ll=29.771311%2C59.912941&mode=poi&poi%5Bpoint%5D=29.770746%2C59.913079&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D1245233699&z=17.68"
            width="100%"
            height="500"
            frameborder="1"
            allowfullscreen="true"
            style="position:relative;"
            title="Денталия на карте"
        >
        </iframe>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}
