{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <style>
        .card {
            transition: background-color 0.3s;
            position: relative;
            overflow: hidden;
        }

        .card:hover {
            background-color: rgba(211, 211, 211, 0.5); /* Сделаем белый фон более прозрачным */
        }

        .card-img-overlay {
            transition: transform 0.3s;
        }

        .card:hover .card-img-overlay {
            transform: translateY(-5px);
        }

        .work-card {
            aspect-ratio: 1.5; /* Соотношение для работ */
        }

        .image-container {
            position: relative;
            width: 100%;
            padding-top: 66.67%; /* Соотношение сторон 3:2 для работ */
            overflow: hidden;
        }

        .staff-image-container {
            padding-top: 128%; /* Соотношение сторон для сотрудников */
        }

        .image-container img,
        .staff-image-container img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }

        .card-img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .image-container::after,
        .staff-image-container::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.3s;
        }

        .card:hover .image-container::after,
        .card:hover .staff-image-container::after {
            opacity: 1;
        }

        .staff-carousel {
            overflow: hidden;
            position: relative;
            touch-action: pan-y; /* Разрешить вертикальную прокрутку */
        }

        .staff-carousel-inner {
            display: flex;
            transition: transform 0.3s ease;
        }

        .staff-card {
            flex: 0 0 25%; /* 25% для отображения 4 карточек на больших экранах */
            max-width: 25%;
            padding: 0.5rem;
        }

        @media (max-width: 768px) {
            .staff-card {
                flex: 0 0 100%; /* 100% для отображения одной карточки на мобильных экранах */
                max-width: 100%;
            }
            .work-card {
                flex: 0 0 100%; /* Отображаем 1 карточку на мобильных экранах */
                max-width: 100%;
            }
        }

        .navigation-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        .prev-button, .next-button {
            background-color: #007bff; /* Синий цвет для кнопок */
            color: white; /* Белый текст для стрелочек */
            border: none;
        }

        .prev-button {
            left: 10px;
        }

        .next-button {
            right: 10px;
        }
        .work-carousel {
            position: relative;
            overflow: hidden;
            width: 100%;
        }

        .work-carousel-inner {
            display: flex;
            transition: transform 0.3s ease;
        }

        .work-card {
            min-width: 33.33%; /* Отображаем три карточки на разных экранах */
            box-sizing: border-box;
            padding: 10px;
        }

        .navigation-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        .prev-button, .next-button {
            background-color: white; /* Белый цвет для кнопок */
            color: #007bff; /* Синий текст для стрелочек */
            border: 1px solid #007bff; /* Синяя рамка */
            transition: background-color 0.3s, color 0.3s; /* Плавный переход */
        }

        .prev-button:hover, .next-button:hover {
            background-color: #007bff; /* Синий фон при наведении */
            color: white; /* Белый текст при наведении */
        }
    </style>

    <h2 class="h2">Наши работы</h2>
    <div class="work-carousel" id="workCarousel">
        <button class="btn prev-button navigation-button" onclick="slideWork('prev')"><</button>
        <div class="work-carousel-inner">
            {% for work in works %}
                <div class="work-card">
                    <div class="card text-bg-dark">
                        <div class="image-container">
                            <img src="{{ work.image.url }}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                            <h5 class="card-title text-center">
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'work' work.slug %}">{{work.name}}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn next-button navigation-button" onclick="slideWork('next')">></button>
    </div>
    
    <script>
        let currentWorkIndex = 0;
        const workCards = document.querySelectorAll('.work-card');
        const totalWorkCards = workCards.length;
    
        function getVisibleWorkCards() {
            return window.innerWidth <= 768 ? 1 : 3; // Меняем количество видимых карточек в зависимости от ширины
        }
    
        function slideWork(direction) {
            const visibleWorkCards = getVisibleWorkCards();
    
            if (direction === 'next') {
                currentWorkIndex++;
                if (currentWorkIndex >= totalWorkCards - visibleWorkCards + 1) {
                    currentWorkIndex = 0; // Зациклить
                }
            } else {
                currentWorkIndex--;
                if (currentWorkIndex < 0) {
                    currentWorkIndex = totalWorkCards - visibleWorkCards; // Зациклить
                }
            }
    
            const offset = -((currentWorkIndex * 100) / visibleWorkCards);
            const workCarouselInner = document.querySelector('.work-carousel-inner');
            workCarouselInner.style.transform = `translateX(${offset}%)`;
        }
    
        // Обработчик изменения размеров окна
        window.addEventListener('resize', () => {
            // Здесь мы просто получаем количество видимых карточек, 
            // но не меняем текущее положение слайдера
            getVisibleWorkCards();
        });
    </script>
    

    <h2 class="h2">Сотрудники</h2>
    <div class="staff-carousel" id="staffCarousel">
        <button class="btn prev-button navigation-button" onclick="slide('prev')"><</button>
        <div class="staff-carousel-inner">
            {% for member in staff %}
                <div class="staff-card">
                    <div class="card text-bg-dark">
                        <div class="staff-image-container">
                            <img src="{{ member.image.url }}" class="card-img" alt="...">
                        </div>
                        <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                            <h6 class="card-title">
                                <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{% url 'staff' member.slug %}">{{ member.fio }}</a>
                            </h6>
                            <p class="card-text"><small>{{ member.roles }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn next-button navigation-button" onclick="slide('next')">></button>
    </div>

    <script>
        let currentIndex = 0;
        const cards = document.querySelectorAll('.staff-card');
        const totalCards = cards.length / 2; // Учитываем дублирование
    
        function getVisibleCards() {
            return window.innerWidth <= 768 ? 1 : 4; // Меняем количество видимых карточек в зависимости от ширины
        }
    
        function slide(direction) {
            if (direction === 'next') {
                currentIndex++;
                if (currentIndex >= totalCards) {
                    currentIndex = 0; // Зациклить
                }
            } else {
                currentIndex--;
                if (currentIndex < 0) {
                    currentIndex = totalCards - 1; // Зациклить
                }
            }
    
            const visibleCards = getVisibleCards();
            const offset = -((currentIndex * 100) / visibleCards);
            const carouselInner = document.querySelector('.staff-carousel-inner');
            carouselInner.style.transform = `translateX(${offset}%)`;
        }
    
        // Обработчик изменения размеров окна
        window.addEventListener('resize', () => {
            // Аналогично работам, получаем количество видимых карточек
            getVisibleCards();
        });
    </script>
    

    <h2 class="h2">Услуги</h2>
    {% for service in service_groups %}
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'services_group' service.slug %}">{{ service.name }}</a></h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
