{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2 class="h2">Наши работы</h2>
    <div class="row">
        {% for work in works %}
            <div class="col-md-4 mb-4"> 
                <div class="card h-100">
                    <div class="image-container" style="height: 245px; overflow: hidden;">
                        <img
                            src="{{ work.image.url }}"
                            class="card-img-top"
                            alt="..."
                            style="object-fit: cover; width: 100%; height: 100%;"
                        >
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'work' work.slug %}">{{work.name}}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    <style>
        .card {
            transition: background-color 0.3s;
            position: relative;
            overflow: hidden;
        }
        
        .card:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        .card-img-overlay {
            transition: transform 0.3s;
        }

        .card:hover .card-img-overlay {
            transform: translateY(-5px);
        }

        .image-container {
            position: relative;
            width: 100%;
            padding-top: 128%;
            overflow: hidden;
        }

        .image-container img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
        
        .card-img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .image-container::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            opacity: 0;
            transition: opacity 0.3s;
        }

        .card:hover .image-container::after {
            opacity: 1;
        }
    </style>


    <h2 class="h2">Сотрудники</h2>
    
    <div class="row">
        {% for member in staff %}
            <div class="col-md-4 mb-4"> 
                <div class="card text-bg-dark">
                    <div class="image-container">
                        <img
                            src="{{ member.image.url }}"
                            class="card-img"
                            alt="..."
                        >
                    </div>
                    <div class="card-img-overlay d-flex flex-column justify-content-end" style="padding: 1rem;">
                        <h6 class="card-title">
                            <a 
                                class="link-light link-offset-2 link-underline link-underline-opacity-0" 
                                href="{% url 'staff' member.slug %}"
                            >
                                {{member.fio}}
                            </a>
                        </h6>
                        <p class="card-text"><small>{{ member.roles }}</small></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h2 class="h2">Услуги</h2>
    {% for service in service_groups %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a class="link-offset-2 link-underline link-underline-opacity-0"  href="{% url 'services_group' service.slug %}">{{ service.name }}</a></h5>
                <p class="card-text">{{ service.description }}</p>
            </div>
        </div>
        <br>
        <br>
    {% endfor %}

{% endblock %}
