{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
    Карта сайта &bull;
{% endblock %}

{% block content %}
    <div class="">
        <div style="display: flex; justify-content: center;">
            <button type="button" class="btn btn-primary w-10 py-2" style="justify-content: center;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Оставить отзыв
            </button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Оставить отзыв</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        {% bootstrap_form form %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Отправить</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <h1 class="h1 text-center">Отзывы клиентов</h1>
        <div class="d-flex align-items-center py-4 bg-body-tertiary">
            <div class="form w-100 m-auto">
                {% for review in reviews %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <small class="text-body-secondary">{{review.created_at|date:"d F Y"}}</small>
                            </p>
                            <p class="card-text">{{review.message}}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
