{% extends "base.html" %}

{% block title %}
    Карта сайта &bull;
{% endblock %}

{% block content %}
    <div class="">
        <h1 class="h1 text-center">Отзывы клиентов</h1>
        <div class="d-flex align-items-center py-4 bg-body-tertiary">
            <div class="form w-100 m-auto">
                {% for review in reviews %}
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text">
                                <small class="text-body-secondary">{{review.created_at|date:"d F Y"}}</small>
                            </p>
                            <p class="card-text">{{review.message}}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
